@font-face {
  font-family: 'Monstera-Regular';
  src: local('Monstera-Regular'),
  url(./fonts/Monstera-Regular.ttf) format('truetype');
}

.App {
  text-align: center;
  background-color: #90ba93;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-link {
  color: #f98cb3;
  font-family: 'Monstera-Regular';
  text-decoration: none;
}

.Base{
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0px;
}
.Blur{
  /* height: 774px; multiplied by 0.65
  width: 626px; */
  width: 503px;
  height: 407px;
  position: fixed;
  left: 297px;
  right: 0px;
  top: 57px;
  bottom: 0px;
  z-index: 0;
}

.Monstera{
  /* height: 687px; multiplied by 0.7
  width: 725px; */
  height: 476px;
  width: 507px;
  position: absolute;
  left: 650px;
  top: 50px;
  z-index: 0;
}


.Logo{
  /* height: 582px; multiplied by 0.7
  width: 307px; */
  width: 407px;
  height: 215px;
  position: absolute;
  left: 400px;
  right: 0px;
  z-index: 0;
  opacity: 1;
}

@keyframes grow {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(4.333);
  }
}

.Marquee-fixed{
  position: fixed;
  top:0px;
  z-index: 1;
  margin-top: 10px;
}

.button{
 background: none;
 border: none;
 cursor: url('images/cursor_compressed.png'), default;
}


.Roadmap-nube{
  position: fixed;
  width: 540px;
  height: 340px;
  bottom: -85px;
  right: -95px;
}

.Roadmap-nube:hover{
  /* opacity:80%; */
  transform: scale(1.1, 1.1);
}

.Nube-buy{
  position: fixed;
  width: 560px;
  height: 272px;
  bottom: -70px;
  left: -90px;
}

.Nube-buy:hover{
  /* opacity:80%; */
  transform: scale(1.1, 1.1);
  cursor: url('images/cursor_compressed.png'), default;
}

body{
  margin: 0;
  cursor: url('images/cursor_compressed.png'), default;
}
