@font-face {
  font-family: 'Monstera-Regular';
  src: local('Monstera-Regular'),
  url(./fonts/Monstera-Regular.ttf) format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #90ba93;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f98cb3;
  font-family: 'Monstera-Regular';
  text-decoration: none;

}

.Aroid-icon {
  /* position: absolute; */
  width: 355px;
  height: 103px;
  /* left: 1033px;
  top: 823px; */
}

.Buy-now-icon{
  /* position: absolute; */
  width: 468px;
  height: 92px;
  /* left: 36px;
  top: 834px; */
}
