.Nube-der{
  /* width: 905.1px;
  height: 406.4px; */
  width: 678.8px;
  height: 304.8px;
  /* z-index: 0; */
  position: absolute;
  top: 334px;
  left: 351px;
}

.Nube-aroid{
  /* width:748.5px;
  height: 301.9px; */
  width:588px;
  height: 226.4px;
  /* z-index: 1; */
  position: relative;
  bottom: -243px;
  right: -300px;
}

.Aroid-icon {
  position: relative;
  bottom: -108px;
  right: -50px;
  /* width: 434.3px;
  height: 67.9px; */
  width: 325.7px;
  height: 50.9px;
}

/* multiplied */
