.Flex{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 20px;
  top: 90px;
}

.Cursor{
  cursor: url('images/cursor_compressed.png'), default;
}

.Ig-logo{
  /* height: 80px; multiplied by .65
  width: 80px; */
  height: 45px;
  width: 45px;
  padding-bottom: 10px;
}

:hover.Ig-logo{
  opacity:80%;
  transform: scale(1.1 , 1.1)
}

.Spotify-logo{
  /* height: 80px; multiplied by .65
  width: 80px; */
  height: 45px;
  width: 45px;
  padding-bottom: 10px;
}

:hover.Spotify-logo{
  opacity:80%;
  transform: scale(1.1 , 1.1)
}

.Discord-logo{
  /* height: 80px; multiplied by .65
  width: 80px; */
  height: 35px;
  width: 45px;
}

:hover.Discord-logo{
  opacity:80%;
  transform: scale(1.1 , 1.1)
}
